/* CSS declarations go here */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@import 'packages/font-awesome-sass/font-awesome';

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('styles/fonts/noto_sans/LeFlHvsZjXu2c3ZRgBq9nLO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('styles/fonts/noto_sans/PIbvSEyHEdL91QLOQRnZ16RDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}

$blue: #000066;
$white: #ffffff;

html {
  height: 100%;
}

body {
  background: linear-gradient(to right bottom, $blue, palevioletred);
  color: $white;
  height: 100%;
  font-family: "Noto Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.splash {
  padding-top: 200px;
  text-align: center;
  font-weight: 100;
  color: #000;
  h1 {
    font-size: 60px;
  }
  p { 
    line-height: 40px;
  }
  button {
    margin: 50px auto;
    width: 140px;
  }
}

.new-conversation {
  input[type="text"], textarea {
      border: 0px;
      background-color: transparent;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
  textarea#new_conversation {
    padding: 50px 0px;
    width: 80%;
    line-height: 20px;
    font-size: 18px;
    color: #000000;
    overflow: hidden;
    resize: none;
  }
  input#new_conversation_title, input#new_contact {
      background-color: rgba(0,0,0,.1);
      width: 50%;
      line-height: 30px;
      font-size: 22px;
      height: 40px;
      margin-bottom: 20px;
  }
  input#save {
    width: 10%;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    border: 0px;
    @include border-radius(3px);
    &:hover {
      background-color: rgba(0,0,0,.8);
      color: #fff;
    }
  }
}