<template name="sidebar">
  <!-- sidebar -->
  <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

    <div class="profile-section">
      <a href="/home">
        <img src="{{ user_image }}">
        <h2>{{ currentUser.profile.name }}</h2>
      </a>
      <a href="/contacts">
        <h4>{{ contacts_count }} Contacts</h4>
      </a>
      <a href="/dossier">
        <h4>{{ conversations_count }} Conversations</h4>
      </a>
    </div>

<!--       [Object_id: "cZEocdgnbrnGBcjTW"profile: Objectname: "Richard Littauer"__proto__: Objectservices: Objecttwitter: Objectid: "118133101"lang: "en"profile_image_url -->

      <ul class="nav">
        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
      </ul>

      <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        {{> loginButtons }}
      </ul>

      <!-- tiny only nav-->
    <ul class="nav visible-xs" id="xs-menu">
          <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
          <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
          <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
          <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
      </ul>

  </div>
  <!-- /sidebar -->
</template>